<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta http-equiv="Cache-Control" content="no-store" />
<link rel="shortcut icon" href="favicon.ico"/>
<title>Funcionários - Início</title>
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap-vue.css">
</head>

<body>


	<div id="inicio" class="container-fluid table" >
		<h4>Lista dos Funcionários</h4>
		<table>
		  <tr>
			<th>Nome</th>
			<th>Setor</th>
			<th>Salário</th>
			<th>Email</th>
			<th>Idade</th>
			<th></th>
			<th></th>
		  </tr>
		  <tbody id="event-table" >
			<tr v-for="funcionario in lista">
			  <td>{{ funcionario.nome }}</td> 
			  <td>{{ funcionario.setor.nome }}</td> 
			  <td>{{ funcionario.salario }}</td> 
			  <td>{{ funcionario.email }}</td> 
			  <td>{{ funcionario.idade }}</td>
			  <td><span @click="">&#9998;</span>
				<span  @click="">&#10006;</span>
			  </td>
			</tr>
		  </tbody>
		</table>
	  </div>
	 
		
		   
	<div>
		<a class="btn btn-primary" href="/funcionarios/pages/novo-funcionario.html" role="button">Cadastrar novo funcionario</a>
		
	</div>  
<!-- 
<div>
		  <div class="card w-75">
	  <div class="card-body">
	    <h5 class="card-title">Card title</h5>
	    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
	    <a class="btn btn-primary" href="/funcionarios/pages/novo-funcionario.html" role="button">Cadastrar novo funcionario</a>
	  </div>
	</div>
		  
		  </div> 
		  -->
	<script src="resources/js/vue.js"></script>
	<script src="resources/js/axios.min.js"></script>
	<script src="resources/js/index.js"></script>
</body>
</html>